include *.txt *.ini *.cfg *.rst
# recursive-include data_sniffer/templates/data_sniffer *.html
# recursive-include data_sniffer/static/data_sniffer/css *.css
recursive-include data_sniffer *.ico *.png *.css *.gif *.jpg *.txt *.js *.html *.xml