{% load index %}

<div class="row">
   <div class="icon">
        {% if object.has_alert %}
            <span class="red">⚠</span>
        {% elif object.has_warning %}
            <span class="orange">⚠</span>
        {% else %}
            <span class="green">☑</span>
        {% endif %}
    </div>
    <div class="values">
        <div class="name">{{object.display_name}}</div>
        <div class="extra">
            {% for value in object.additional_values %}
                <span class="arrow"> > </span>
                <a href="{% url 'data_sniffer_health_check' key=key %}?category={{config.queryset.extra_display_fields|index:forloop.counter0}}#{{value}}">
                    {{value}}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="errors">
        {% for alert in object.alerts %}
            <div class="alert">{{alert}}</div>
        {% endfor %}
        {% for warning in object.warnings %}
            <div class="warning">{{warning}}</div>
        {% endfor %}
    </div>
</div>